@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.font-fruktur {
  font-family: var(--font-fruktur);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.button-theme {
  @apply bg-green-600 text-xl rounded-sm font-bold cursor-pointer px-3 hover:bg-green-700 hover:rounded-xl hover:text-black;


}

.transition {
      @apply transition-all duration-300
    }

.input-dark {
  @apply bg-[#1a1a1a] border border-gray-700 rounded-lg px-4 py-3 
         text-white placeholder-gray-500 focus:ring-2 focus:ring-blue-500 
         focus:outline-none;
}

.btn-next {
  @apply px-6 py-3 bg-blue-600 rounded-md hover:bg-blue-700;
}

.btn-gray {
  @apply px-6 py-3 bg-gray-700 rounded-md hover:bg-gray-600;
}

.btn-green {
  @apply px-5 py-3 bg-green-600 rounded-md hover:bg-green-700;
}
