  @tailwind base;
  @tailwind components;
  @tailwind utilities;


@layer utilities {
  .carousel-track {
    animation: scrollLeft 25s linear infinite;
  }

  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-310%);
    }
  }
}
